nav {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2em;
    font-weight:800;
    background: rgb(57, 204, 209);
    height: 10vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
  }